@page "/"
@using Client
@using Common.Dto
@inject IServerProxy ServerProxy
@inject IToastService ToastService

<table class="table">
    <tbody>
        <tr>
            <td>
                <button class="btn btn-info" @onclick="@(() => ToastService.ShowInfo("I'm an INFO message"))">Info Toast</button>
            </td>
        </tr>
        <tr>
            <td>
                <h1>Hello, World!</h1>

                Welcome to your new app.
                <BlazorPOC.Components.Alert Type=@Data.AlertType.Error />
                <BlazorPOC.Components.Alert Type=@Data.AlertType.Info />
                <BlazorPOC.Components.Alert Type=@Data.AlertType.Success />
                <BlazorPOC.Components.Alert Type=@Data.AlertType.Warning />
                <BlazorPOC.Components.TimedToast Message="Hello" />
                <button class="btn btn-info" @onclick="@(() => ToastService.ShowInfo("I'm an INFO message"))">Info Toast</button>
            </td>
            <td>
                <BlazorPOC.Components.GenericList Elements=@NumArray>
                    <ContentTemplate>
                        @foreach (var i in NumArray)
                        {
                            <div>
                                <button class="btn btn-primary">Number: @i</button>
                            </div>
                            <div class="fa-circle"></div>
                        }
                    </ContentTemplate>
                </BlazorPOC.Components.GenericList>
                <button @onclick="Get">
                    Click to call hub method:
                    @if (Users != null)
                    {
                        @Users.Count()
                    }
                </button>
                <BlazorPOC.Components.GenericList Elements=@Users>
                    <ContentTemplate>
                        @foreach (var i in Users)
                        {
                            <div>
                                User: @i.ToString()
                            </div>
                        }
                    </ContentTemplate>
                </BlazorPOC.Components.GenericList>

                <BlazorPOC.DomainComponents.UsersListView/>
            </td>
        </tr>
    </tbody>
</table>


@code {
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000)
            .ContinueWith(_ => NumArray = new[] { 1, 2, 3, 4, 5 });
    }

    private async Task Get()
    {
        Users = await ServerProxy.GetAllUsers();
    }

    private List<UserDto> Users { get; set; }
    private IEnumerable<int> NumArray { get; set; }
}