@using Shared.Enums;
@using EnumsNET;
@using Data.EventArgs;
@using UI.Localization;

@inject IStringResourceManager StringResource

<MatDialog @bind-IsOpen="@_isOpen">
    <MatDialogTitle>הזמן חדר</MatDialogTitle>
    <MatDialogContent>
        <h4>זמן התחלה:</h4>
        <MatDatePicker EnableTime="true" Enable24hours="true" DateFormat="Y-m-d H:i" Value="StartTime"/>

        <h4>זמן סיום:</h4>
        <MatDatePicker EnableTime="true" Enable24hours="true" DateFormat="Y-m-d H:i" Value="EndTime"/>

        <h4>רמת הרשאה:</h4>
        <MatSelect Label="בחר רמת הרשאה"
                   Outlined="true"
                   Enhanced="true"
                   @bind-Value="RequiredClearance">
            @foreach (var clearance in Enums.GetValues<UserClearance>().Where(v => v != UserClearance.Admin))
            {
                <MatOptionString Value="@clearance.GetName()">@StringResource[clearance.GetName()]</MatOptionString>
            }
        </MatSelect>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@MakeReservation" Outlined="true">הזמן</MatButton>
        <MatButton OnClick="@Hide" Outlined="true">ביטול</MatButton>
    </MatDialogActions>
</MatDialog>

@code {
    #region Modal & Logic

    private void OnStartInput(ChangeEventArgs args)
    {
        StartTime = (DateTime?) args.Value;
    }

    private void MakeReservation()
    {
        Console.WriteLine("Making a reservation");
        OkCallback(this, new MakeReservationEventArgs(StartTime, EndTime, Enums.Parse<UserClearance>(RequiredClearance)));
        Hide();
    }

    #endregion

    #region Dialog Controls

    public void ReserveNow()
    {
        StartTime = DateTime.Now;
    }

    public void Show()
    {
        _isOpen = true;
        StateHasChanged();
    }

    public void Hide()
    {
        StartTime = null;
        EndTime = null;
        RequiredClearance = string.Empty;
        _isOpen = false;
        StateHasChanged();
    }

    #endregion

    #region Private Members and Parameters

    private DateTime? StartTime { get; set; }
    private DateTime? EndTime { get; set; }
    private string RequiredClearance { get; set; }

    private bool _isOpen = false;

    [Parameter]
    public EventHandler<MakeReservationEventArgs> OkCallback { get; set; }

    #endregion
}
